# Lesson 11: SQL Part 2 Studio

> This studio asks you to create queries using the functions from this lesson. As you work through the studio, you may need to create more than one query to return the desired answer.  For others, you may need to combine functions together in order to answer the original query.  The questions have been organized in a way to help you puzzle out the answers.
> 
> Happy querying! 

**The Dataset:**   

> We will be working with the **BooksDB dataset** from Lesson 10.  You should already have access to it.

## The Questions:

1.  Create a query that returns the longest title in the dataset.  We can do this in two steps.

> A. Create a query that returns the length of the longest title.
> 
> B. Create a query that uses the length you found in step A to find the longest title.

In [1]:
-- Code here:

2.  Use what you learned in question 1 to find the shortest author name.  

> A. Create a query that returns the length of the shortest author.
> 
> B. Create a query that returns the shortest author's name.

In [2]:
-- Code here:

3\. How many titles contain the word "The"?  

  

> A. Is there a difference between the number of titles that use "The" or "the"?

In [3]:
-- Code here:

4.  How many authors' names _start_ with 'Z'?

In [4]:
-- Code here:

5\. How many books have been identified as printed in a language other than English?  There are four language codes for English: 'en', 'eng', 'en-US', and 'en-UK'.  Use LEFT to answer the question.  (Do not use the wildcard)

You might want to use one of these [comparison operators](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/comparison-operators-transact-sql?view=sql-server-ver15).

In [5]:
-- Code here:

6\. Retry question 5 using SUBSTRING.

In [6]:
-- Code here:

7.  Create a column that returns the title, authors, and language codes.  Concatenate these elements so that they return in the following way: title by authors in language\_code language.

> A.  Check each selected column to see where any values are NULL.  Did any of the columns contain NULL values?  If so, which one?

In [7]:
-- Code here:

8.  Update the query in question 7 using COALESCE to change the language code values from NULL to 'unknown'.

> A.  Has this changed the language\_code  where the values are NULL?

In [8]:
-- Code here:

9\. Revisit question 7 using ISNULL instead of COALESCE.

> A.  Has this changed the language\_code  where the values are NULL?

In [9]:
-- Code here: